@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --persian-blue: #003BE2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Brand colors */
  --color-persian-blue: var(--persian-blue);

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
