@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --persian-blue: #003BE2;
  --shuttle-gray: #E5E6E8
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Brand colors */
  --color-persian-blue: var(--persian-blue);
  --color-shuttle-gray: var(--shuttle-gray)

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@utility grid-pattern {
  background-image:
    linear-gradient(to right, #dde3f517 1px, transparent 1px),
    linear-gradient(to bottom, #dde3f517 1px, transparent 1px);
  background-size: 72px 72px;
}

@utility hero-grid {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.12) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 1px, transparent 1px);
  background-size: 120px 120px;
}

@utility soft-bg {
  background:
    radial-gradient(circle at 15% 20%, #E9FF8A 0, transparent 40%),
    radial-gradient(circle at 90% 60%, #DDE3FF 0, transparent 45%),
    #fff;
}

@utility blob {
  background: radial-gradient(circle at 30% 30%, #E6FF6B, #B7F000);
}
